* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
    overflow-x: hidden;
    font-family: Josefin Sans;
}

/* temas */
.temaPikachu {
    --principal:#f5ee9e;
    --secundario:#2f2d2e;
    --letras:#fff;
    --titulo:#2f2d2e;
}
.temaArticuno {
    --principal:#74d4f4;
    --secundario:#6263ac;
    --letras:#caf0f8;
    --titulo:#5d1b86;
}
.temaArceus {
    --principal:#ece51e;
    --secundario:#0a0a0a;
    --letras:#ffffff;
    --titulo:#4c4747;
}
.header {
    height: 10vh;
    background-color: var(--principal);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5vw;
}
.logo-pokeball{
    width: 15vw;   
    height: auto; 
}
.logo h1 {
    color: var(--titulo);
    margin-top: .8vw;
    font-size: 8vw;
}
.barrasLaterales{
    position: absolute;
    right: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.barrasLaterales {
    font-size: 8vw;
    color: var(--titulo);
}
.barraDeNavegacion {
    width: 100%;
    height: 90%;
    position: absolute;
    justify-content: center;
    align-items: center;
   
}
.fondo {
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: start;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    transition:all 1s;
    opacity: 0;
    z-index: -1000;
}
.menu {
    display: flex;
    justify-content: space-around;
    gap: 2vw;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 100%;
    background-color: var(--principal);
    padding-top: 10vw;
    padding-bottom: 20vw;
    font-size: 9vw;
    transition: all 2s;
    transform: translateX(-100vw);
    color: var(--titulo);
    z-index: 1000;
}
.textoMenu {
    opacity: 0;
}

.aparecerMenu {
    z-index: 1000;
    opacity: 1;
}
.transladarMenu{
    transition:all 1s;
    transform: translateX(0vw);
    position: absolute;
}
.inyectar {
    position: relative;
    width: 100vw;
    min-height: 90vh;
}
.pantallaDeCarga {
    width: 100vw;
    height: 90vh;
    font-size: 5vw;
    background-color: var(--secundario);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10vw;
    color: var(--letras);
}
.pantallaDeCarga img {
    width: 40vw;
}
.loader{
    width: 25vw;
    height: 25vw;
    border-radius: 50vw;
    border: 2.5vw solid var(--principal);
    border-top: 2.5vw solid var(--secundario);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotar .5s infinite linear;
}
@keyframes rotar {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.temasAelegir {
    width: 100vw;
    height: 90vh;
    background-color: var(--secundario);
    justify-content: center;
    align-items: center;
    display: flex;
}
.tituloTemas{
    color: var(--principal);
    font-size: 10vw;
    position: absolute;
    top: 8vh;
}
.listaTemas{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6vw;
}
.listaTemas li {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 15vh;
}
.fondos{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.articuno {
    width: 100vw;
    height: 15vh;
    background-color: #0096c7;
    overflow: hidden;
}
.arceus {
    width: 100vw;
    height: 15vh;
    background-color: #0096c7;
    overflow: hidden;
}
.imagenFondoArceus{
    object-position: top;
}
.pikachu{
    width: 100vw;
    height: 15vh;
    background-color: #0096c7;
    overflow: hidden;
}
.nombreYfondo {
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 15vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    font-size: 8vw;
    color: var(--principal);
    transition: all 1s;
    opacity: 0;
    display: none;
    cursor: pointer;
}

.gifArticuno {
    width: 60vw;
}
.gifArceus {
    height: 100%;
    width: auto;
    object-fit: cover;
    object-position: top;
}
.gifPikachu {
    width: 30vw;
}
.aparecerAnimaciones {
    display: flex;
    opacity: 1;
}
.pokedex {
    width: 100vw;
    height: 90vh;
    background:conic-gradient(rgb(192, 186, 186), var(--principal), #fff, var(--principal), rgb(192, 186, 186));   
    display: grid;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: repeat(10,10%);
}
.carta {
    width: 100%;
    height: 100%;
    grid-row: 2/7;
    grid-column: 2/5;
    background-image: url(../Multimedia/logo.gif);
    background-position: center;
    outline: 1vw solid var(--secundario);
}
.mostrarCarta {
    width: 100%;
    height: 100%;
    background-color: #0096c7;
    display: none;
    flex-direction: column;
    opacity: 0;
    transition: all 1s;
}
.pokemonImagen{
    width: 100%;
    height: 65%;
    object-fit: cover;
    object-position: center;
}
.nombreCarta {
    height: 15%;
    width: 100%;
    background-color: var(--secundario);
    color: var(--principal);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vw;
    overflow: hidden;
    text-align: center;
}
.estadisticasCarta{
    width: 100%;
    height: 20%;
    background-color: var(--principal);
    color: var(--secundario);
    display: flex;
    justify-content: space-evenly;
}
.estadisticas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.estadisticas h4{
    font-size: 5vw;
}
.estadisticas p{
    font-size: 4vw;
}
.botonesPokedex {
    width: 100%;
    height: 100%;
    grid-column: 1/6;
    grid-row: 7 /11;
    background:conic-gradient(from 90deg at 20 0, var(--secundario), var(--principal));  
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(4,25%);
    font-size: 5vw;
}
.poderTotal{
    grid-column: 1/5;
    grid-row: 1/2;
    width: 60vw;
    height: 80%;
    justify-self: center;
    align-self: end;
    background-color: var(--secundario);
    border-radius: 30vw;
    display: none;
    justify-content: center;
    align-items: center;
    color: var(--principal);
    font-size: 3vh;
    border: 2vw double var(--principal);
}
.botonCaptura {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/3;
    grid-row: 2/4;
    
}
.botonCaptura button {
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    font-size: 5vw;
    color: #fff;
    background-color: #3ba55b;
    outline: 1vw solid #000;
    cursor: pointer;
}
.botonSiguiente {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3/6;
    grid-row: 2/4;
    
}
.botonSiguiente button {
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    text-align: center;
    font-size: 5vw;
    color: #fff;
    background-color: #0b1e9a;
    outline: 1vw solid #000;
    cursor: pointer;
}
.avisoDeInicio{
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--secundario);
    background:linear-gradient( to bottom, var(--principal), #eee, var(--principal));
    padding: 8vw;
    font-size: 8vw;
    text-align: center;
    font-size: 7vw;
}
.avisoDeInicio img {
    height: 18vh;
}
.cargandoCarta{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
.cargandoCarta img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.activarSeccionCarta{
    display: flex;
}
.capturados{
    min-height: 90vh;
    width: 100vw;
    background-color: var(--secundario);
}
.noCapturoNinguno {
    width: 100vw;
    height: 90vh;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 4vh;
    color: var(--principal);
    background:URL("../Multimedia/rayquaza.gif") 100% 100% / cover;
    background-position: center;
}
.activarFondoCapturados{
    display: flex;
}
.capturoPokemones{
    width: 100vw;
    min-height: 90vh;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 10vh 1fr;
}
.tituloCaptura{
grid-column: 1/3;
grid-row: 1/2;
display: flex;
justify-content: center;
align-items: center;
font-size: 8vw;
color: var(--principal);
}
.filtrosCaptura{
    grid-column: 1/3;
    grid-row: 2/3;
    color: var(--letras);
    font-size: 5vw;
}
.tituloFiltrosCaptura{
    margin-left: 2vw;
    margin-bottom: 2vw;
}
.contenedorFiltros{
    width: 100vw;
    min-height: 18vh;
    background-color: var(--letras);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    color: var(--secundario);
    background-color: var(--principal);
    border-radius: 2vw;
    margin-bottom: 10vw;
}
.titleCaptura {
    font-size: 3vh;
    padding-top: 1vh;
}
.busquedaPorNombre {
    grid-row: 1/2;
    grid-column: 1/3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vw;
    flex-direction: column;
}
.botonBusqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    font-size: 1.6vh;
    height: 4vh;
    font-size: 3vh;
}

.buscarNombre {
    height: 3vh;
    width: 50vw;
    border: .1vw solid var(--secundario);
    outline: none;
    border-radius: 4vw;
    font-size: 2vh;
    padding: 3vw;
}
.buscarNombre:hover {
    border: .2vw solid var(--secundario);
    outline: none;
}
.busquedaAvanzadaCapturados {
    display: flex;
    justify-content: center;
    gap: 3vw;
    align-items: center;
    grid-column: 1/3;
    grid-row: 2/3;
    margin-right: 3vw;
    font-size: 2vh;
}
.activarDesactivar {
    color: rgb(255, 0, 0);
}
.busquedaAvanzadaSeccion {
 grid-row: 1/2;
 grid-column: 1/3;
 display: none;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: 6vh auto auto;
 flex-direction: column;
 background-color: var(--principal);
 color: var(--titulo);
 justify-content: center;
 align-items: center;
 overflow: hidden;
}
.tituloBusquedaAvanzada {
grid-column: 1/3;
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
font-size: 6vw;
color: #4faf38;
}
.elementosDePokemon {
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 5vw;
    gap: 4vw;
    text-align: center;
    margin-top: 5vw;
}
.tituloElementos {
    font-size: 7vw;
}
.elementosDePokemon p {
    font-size: 4vw;
    margin-bottom: 4vw;
}
.tiposFiltrado {
    grid-column: 1/3;
    grid-row: 3/4;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    
}
.izquierdaFiltros {
    width: 100%;
    height: auto;
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.izquierdaFiltros li {
    display: flex;
    gap: 3vw;
    margin-bottom: 3vw;
    justify-content: center;
    align-items: center;
}
.derechaFiltros {
    width: 100%;
    height: auto;
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.derechaFiltros li {
    display: flex;
    gap: 3vw;
    margin-bottom: 3vw;
    justify-content: center;
    align-items: center;
}
.spanElementos {
    border: 1vw solid var(--secundario);
    border-radius: 3vw;
    width: 25vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vw;
}
.circuloSeleccion {
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .5vw solid var(--principal);
    width: 8vw;
    height: 8vw;
    border-radius: 50vw;
    background-color: #fff;
    padding-top: .5vw;
}
.bicho {
    background-color: #729f3f;
    color: #fff;
}
.Dragón{
    background-color: #53a4cf;
    background: linear-gradient(180deg,#53a4cf 50%,#f16e57 50%);
    color: #fff;
}
.Hada{
    background-color: #fdb9e9;
}
.Fuego{
    background-color: #fd7d24;
    color: #fff;
}
.Fantasma{
    background-color: #5d1b86;
    color: #fff;
}
.Tierra{
    background: linear-gradient(180deg,#f7de3f 50%,#ab9842 50%);
    color: #000;
}
.Normal{
    background-color: rgb(193, 193, 193);
}
.Psiquico{
    background-color: #fd64e6;
    color: #fff;
}
.Acero{
    background-color: #71719d;
    color: #fff;
}
.Siniestro{
    background-color: rgb(0, 0, 0);
    color: #fff;
}
.Eléctrico{
    background-color: #fef500;
}
.Lucha {
    background-color: #c24b1c;
    color: #fff;
}
.Volador{
    background: linear-gradient(180deg,#3dc7ef 50%,#bdb9b8 50%);
}
.Planta{
    background-color: #9bcc50;
}
.Hielo{
    background-color: #71b6c9;
    color: rgb(255, 255, 255);
}
.Veneno{
    background-color: #954bc3;
    color: #fff;
}
.Roca{
    background-color: #a38c21;
    color: #fff;
}
.Agua{
    background-color: #4592c4;
    color: #fff;
}
.filtrarPorPeso {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    font-size: 5vw;
    gap: 4vw;
    text-align: center;
    margin-top: 5vw;
}
.filtrarPorPeso summary{
    font-size: 7vw;
}
.pesoDelPokemon {
    width: 100vw;
    height: 30vw;
    margin-top: 3vw;
    margin-bottom: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 3vw;
}
.pesos{
    height: 25vw;
    width: 25vw;
    background-color: #fff;
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.FiltrosAvanzados{
    grid-column: 1/3;
    grid-row: 2/3;
    gap: 3vw;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
}
.filtrarPorAltura summary {
    font-size: 7vw;
    text-align: center;
    margin-top: 3vw;
}
.filtrarPorPoder{
    text-align: center;
    width: 100vw;
    height: auto;
    margin-top: 3vw;
    margin-bottom: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 3vw;
}
.filtrarPorPoder summary {
    font-size: 7vw;
    text-align: center;
}
.mayorMenorPoder{
    width: 100vw;
    display: flex;
    justify-content: space-around;
}
.mayorMenorPoder span{
    height: 35vw;
    width: 35vw;
    background-color: #fff;
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vw;
    margin-top: 4vw;
}
.eliminarBuscarFiltros {
    height: 30vh;
}